################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Assistant/backend/.vs

[Bb]in/
[Oo]bj/
/Assistant/backend/.vs/AiShoppingAssistant.slnx/DesignTimeBuild/.dtbcache.v2
